@model MortgageCalculator.Models.MortgageCalculatorModel

<h2>Mortgage Calculator Results</h2>

<div>
    <h3>Results:</h3>
    <p>Monthly Payment: @Model.MonthlyPayment.ToString("C")</p>
    <p>Total Payment: @Model.TotalPayment.ToString("C")</p>
</div>
