@model MortgageCalculator.Models.MortgageCalculatorModel
@{
    ViewData["Title"] = "Mortgage";
}

<h1>Mortgage Calculator</h1>
<style>
    /* CSS styles for the image */
    .centered-image {
        display: block; /* Make the image a block-level element */
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Set maximum width to 100% of the container */
        max-height: 200px; /* Set maximum height to 200 pixels */
    }
</style>
<p>
    <form asp-action="Calculate" method="post">
        <div>
            <label asp-for="PurchasePrice">Purchase Price:</label>
            <input asp-for="PurchasePrice" />
            <span asp-validation-for="PurchasePrice"></span>
        </div>
        <div>
            <label asp-for="DownAmount">Down Payment(Dollar amount$):</label>
            <input asp-for="DownAmount" />
            <span asp-validation-for="DownAmount"></span>
        </div>
        <div>
            <label asp-for="InterestRate">Interest Rate (%):</label>
            <input asp-for="InterestRate" />
            <span asp-validation-for="InterestRate"></span>
        </div>
        <div>
            <label asp-for="Years">Loan Term (years):</label>
            <input asp-for="Years" />
            <span asp-validation-for="Years"></span>
        </div>
        <button type="submit">Calculate</button>

        <img src="~/images/mortgage.jpg" alt="Mortgage Home" class="centered-image">

    </form>

</p>

