@model MortgageCalculator.Repository.MtgLoan
@{
    ViewData["Title"] = "Mortgage";
}<h1>Mortgage Loan<span class="badge text-bg-secondary"></span></h1>

</div>
<section>
    
    <form asp-action="Calculate" method="post">
        <div>
            <label asp-for="PurchasePrice">Purchase Price: $</label>
            <input asp-for="PurchasePrice" required placeholder="$250,000" />
            <span asp-validation-for="PurchasePrice"></span>
        </div>
        <div>
            <label asp-for="DownAmount"> Down Payment: $</label>
            <input asp-for="DownAmount" required placeholder="$50,000" />
            <span asp-validation-for="DownAmount"></span>
        </div>
        <div>
            <label asp-for="InterestRate">Interest(%):</label>
            <input asp-for="InterestRate" required placeholder="6.75% (do not include %)" />
            <span asp-validation-for="InterestRate"></span>
        </div>
        <div>
            <label asp-for="Years">Loan Term (years):</label>
            <input asp-for="Years" required placeholder="30 years" />
            <span asp-validation-for="Years"></span>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Include Taxes & Insurance</label>
        </div>

        <button type="submit" name="Calculate" class="button-custom">Calculate</button>
        <input type="reset" name="Clear Data" class="button-custom" value="Reset" />
        <figure>
            <img src="~/images/home.jpg" alt="Mortgage Home" class="centered-image">
        </figure>
        <ul>
            <div> <strong><em>Things to be able to prepare to fill out this information</em></strong></div>
            <p></p>
            <ol>
                <li>"Purchase Price" Home much is the purchase price or the intended offer price </li>
                <li>"Down Payment" How much is the amount of money you you plan to put down this can be as low as $0</li>
                <li>"Interest Rate" What you would like as an interest rate to be able to get an estimated payment</li>
                <li>"Loan Term" How many long do you plan to finance the property. This is usually 30 years or 15 years traditionaly</li>
            </ol>
            <p></p>
            <div> Remember this is just an estimate because it does not include taxes, insurance, PMI (private mortgage insurance), etc</div>
        </ul>
    </form>
</section>
