@model MortgageCalculator.Models.MortgageCalculatorModel
@{
    ViewData["Title"] = "Mortgage";
}

<h2>Mortgage Calculator</h2>

<form asp-action="Calculate" method="post">
    <div>
        <label asp-for="PurchasePrice">Purchase Price:</label>
        <input asp-for="PurchasePrice" />
        <span asp-validation-for="PurchasePrice"></span>
    </div>
    <div>
        <label asp-for="DownAmount">Down Payment(Dollar amount$):</label>
        <input asp-for="DownAmount" />
        <span asp-validation-for="DownAmount"></span>
    </div>
    <div>
        <label asp-for="InterestRate">Interest Rate (%):</label>
        <input asp-for="InterestRate" />
        <span asp-validation-for="InterestRate"></span>
    </div>
    <div>
        <label asp-for="LoanTermMonths">Loan Term (months):</label>
        <input asp-for="LoanTermMonths" />
        <span asp-validation-for="LoanTermMonths"></span>
    </div>
    <button type="submit">Calculate</button>
</form>
