html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 25px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #808080;
}

.calculator {
    background-color: #808080;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

input[type="number"],
input[type="text"],
button {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #236f09;
    color: #000000;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white; /* Default text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #007bff; /* Button color on hover */
    }

    .button:hover {
        color: white; /* Text color on hover */
    }