html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 25px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
}




input[type="number"],
input[type="text"],
button {
    width: fit-content; /* Adjusted width */
    padding: 10px;
    margin: 5px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;

}
.button-custom {
    width: 150px; /* Ensure both buttons have the same width */
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;
    background-color: gray;
    color: white; /* Default text color */
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
}

    .button-custom:hover {
        background-color: #007bff; /* Button color on hover */
        color: white; /* Text color on hover */
    }


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white; /* Default text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .button:hover {
        background-color: #007bff; /* Button color on hover */
    }

    .button:hover {
        color: white; /* Text color on hover */
    }

/* CSS styles for the image */
.centered-image {
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 200px; /* Set maximum height to 200 pixels */
}