@{
    ViewData["Title"] = "Home Page";
}
<header>

    <body>


        <a href="@Url.Action("Index", "MortgageCalculator")" class="button bg-black">Mortgage Calculator </a>


    </body>

</header>

